{% extends 'layout.html' %}
{% block title %} CS50 Demos {% endblock %} 

{% block body %}
  <link rel="stylesheet" href="static/css/index.css">
  <h1>CS50 Demos</h1>

  <div class="container">
    <div class="card">
      <a href="/week_0">
        <img src="static/images/scratch.jpg" title="Scratch">
      </a>
    </div>

    <div class="card">
      <a href="/week_1">
        <img src="static/images/mario.png" title="Mario">
      </a>
    </div>

    <div class="card">
      <a href="/week_2">
        <img src="static/images/crummy_commercial.jpeg" title="Crummy Commercial">
      </a>
    </div>

    <div class="card">
      <a href="/week_3">
        <img src="static/images/yellow_pages.jpg" title="Yellow Pages">
      </a>
    </div>

    <div class="card">
      <a href="/week_4">
        <img src="static/images/edges.bmp" title="Edges">
      </a>
    </div>

    <div class="card">
      <a href="/week_5">
        <img src="static/images/bucket.jpg" title="Bucket">
      </a>
    </div>


    <div class="card">
      <a href="/week_6">
        <img src="static/images/never.png" title="Never Gonna Give You Up">
      </a>
    </div>

    <div class="card">
      <a href="/week_7">
        <img src="static/images/bert_and_ernie.png" title="Bert & Ernie">
      </a>
    </div>

    <div class="card">
      <a href="/week_8">
        <img src="static/images/rubber_duck.png" title="Rubber Duck">
      </a>
    </div>

    <div class="card">
      <a href="/week_9">
        <img src="static/images/telephone.jpg" title="Telephone">
      </a>
    </div>


  </div>
  

{% endblock %}
