{% extends 'layout.html' %}

{% block title %} Scratch {% endblock %}


{% block body %}
  <link rel="stylesheet" href="static/css/week_0.css">


    <h1>Week-0 Scratch</h1>

    <div class="container">

<!--
      <div class="card">
        <img src="static/images/scratch.jpg" title="Scratch">
      </div>
-->

      <div class="card">
        <img src="static/images/hello_scratch.png" title="hello_scratch">
      </div>

      <div class="card">
        <img src="static/images/hello_name.png" title="hello_name">
      </div>

      <div class="card">
        <img src="static/images/if_else.png" title="if_else">
      </div>

      <div class="card">
        <img src="static/images/for_loop.png" title="for_loop">
      </div>

      <div class="card">
        <img src="static/images/while_loop.png" title="while_loop">
      </div>

      <div class="card">
        <img src="static/images/array.png" title="array">
      </div>



      <div class="card">
        <img src="static/images/function.png" title="function">
      </div>



    </div>


{% endblock %}
